/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
h1 {
	font-size: 40pt; 
}
.container-top {
	display: block;
	height: 100px; 
	width: 900px; 
	margin: auto;
	position: relative; 
}
.container-top header .top-nav {
	display: inline-block; 
	margin: 10px; 
	width: 600px; 
	position: absolute;  

}
.container-top header .top-nav a {
	color: gray;
	text-decoration: none;
	padding: 10px; 
	margin: 10px; 

}

.container-top header .logo {
	position: absolute; 
	display: inline-block;  
	margin-left: 630px; 
}

/* .container {
	border: 1px solid blue;
	display: inline-block;
	height: 400px; 
	width: 900px; 
	margin: 0 auto; 
	position: relative; 

} */
.container-two {
	display: block;
	height: 400px; 
	width: 870px; 
	margin: auto;
	position: relative; 

}
.container-two .top-left {
	display: inline-block; 
	position: absolute; 
	margin-left: 0px; 
	text-align: center; 
	width: 435px; 
	height: 380px; 
	padding: 50px; 
}


button {
	background: white; 
	border: solid black;
	padding: 10px 40px;  

}

.container-two .top-right {
	display: inline-block;  
	position: absolute; 
	width: 435px; 
	margin-left: 450px; 
 
}

.container-row-one {
	display: block;
	border-top: solid gray; 
	height: 180px; 
	width: 850px; 
	margin: auto;
	position: relative; 

}

.container-row-one .row-one-left {
	position: absolute; 
	display: inline-block; 
	margin-left: 0px; 
	width: 450px;
	padding: 40px; 
}
.container-row-one .row-one-right {
	position: absolute; 
	display: inline-block; 
	margin-left: 450px;   
	width: 450px; 
	padding: 40px; 
}

.container-middle-img {
	display: block;
	height: 200px; 
	width: 900px; 
	margin: auto;
	position: relative; 

}

.container-row-two {
	display: block;
	height: 200px; 
	width: 900px; 
	margin: auto;
	position: relative; 

}
.container-row-two .row-two-left {
	display: inline-block;
	position: absolute;  
	margin-left: 0px; 
	width: 300px; 
	padding: 20px; 
}
.container-row-two .row-two-center {
	display: inline-block; 
	position: absolute;  
	margin-left: 300px;
	margin-right: 300px; 
	width: 300px; 
	padding: 20px; 
}
.container-row-two .row-two-right {
	display: inline-block; 
	position: absolute; 
	margin-left: 600px; 
	width: 300px; 
	padding: 20px; 
}

.contact {
	height: 160px; 
	width: 900px; 
	margin: 0 auto;
	padding: 30px; 
}
.copyright {
	border-top: solid gray; 
	height: 50px; 
	width: 900px; 
	margin: 0 auto;
	padding-top: 10px; 
	text-align: center; 
}
